{% extends 'MainBundle:Default:base.html.twig' %}

{% form_theme form _self %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="form_error">
            <ul>
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_widget %}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} class="el-input" placeholder="{{ label|default(name)|humanize|trans }}" {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block password_widget %}
    {%- set type = type|default('password') -%}
    {{ block('form_widget') }}
{% endblock %}

{% block content %}
    <section class="wrap-forgot">
        <div class="mbox2">
            <div class="forgot-content">

                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="entrance-form">
                    {{ form_widget(form._token) }}

                    <div class="title"><h1>Сброс пароля</h1></div>
                    <div class="form-field">
                        {{ form_widget(form.new.first) }}
                        {{ form_errors(form.new.first) }}
                    </div>
                    <div class="form-field">
                        {{ form_widget(form.new.second) }}
                    </div>
                    <input type="submit" class="el-button" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
                </form>
                <div class="links">
                    <a href="{{ path('fos_user_security_login') }}">Вход</a>
                    <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}